body {
  background-color: var(--primary-bgr-color);
  color: var(--primary-title-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
/* цвет основного текста заголовков (nav, h2-6) #212121; */
/* цвет основного текста (p, a) #757575; */
/* белый цвет на темном фоне (h1, p, btn, (блок3)) #FFFFFF; */
/* акцент (btn, logo, a) #2196F3 */
/* цвет лого #000000 */
/* цвет адреса подвала  rgba(255, 255, 255, 0.6) */

/* цвет основного фона #FFFFFF */
/* цвет вторичного (белого) фона #F5F4FA; */
/* цвет вторичного (серого) фона rgba(47, 48, 58, 0.8) */
/* фон подвала #2F303A */

/* ROOT */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-white-text-color: #ffffff;
  --accent-color: #2196f3;
  --footer-address-text-color: rgba(255, 255, 255, 0.6);
  --primary-bgr-color: #ffffff;
  --primary-bgr-filter-btn-color: #f5f4fa;
  --secondary-bgr-color: rgba(47, 48, 58, 0.8);
  --footer-bgr-color: #2f303a;

  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bgr-color: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin-bottom: 50px;
}
h3 {
  margin-bottom: 10px;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* RESET decoration */
.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
}

/* Шапка страницы ======================================= */
/* Оформление логотипа */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.logo-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-web {
  color: var(--accent-color);
}
.logo {
  margin-right: 85px;
}
/* Оформление nav ========================================== */

.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-list-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--transition-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

/* Оформление контактов в хедере ================================== */
.header-contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: var(--transition-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:hover .header-contacts-envelope-icon,
.header-contacts-link:focus .header-contacts-envelope-icon,
.header-contacts-link:hover .header-contacts-tel-icon,
.header-contacts-link:focus .header-contacts-tel-icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts-link {
  display: flex;
  align-items: center;
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}
.header-contacts-envelope-icon,
.header-contacts-tel-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.addres {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-active-page::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

/* Оформление секции ГЕРОЙ ======================*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      var(--secondary-bgr-color),
      var(--secondary-bgr-color)
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title-hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-text-color);
}
.button {
  display: block;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--secondary-white-text-color);
}

/* Оформление секции НАШИ ПРЕИМУЩЕСТВА =================== */

.advantages-list {
  display: flex;
}
.advantages-list-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.advantages-list-item {
  width: 270px;
}

.advantages-icon-box {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantages-icon {
  display: block;
  width: 70px;
  height: 70px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Оформление секции Чем мы занимаемся */
/* для всех title - h2 */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.we-doing-list {
  display: flex;
}
.we-doing-list-item {
  position: relative;
  width: 370px;
}

.we-doing-list-item:not(:last-child) {
  margin-right: 30px;
}

.we-doing-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  background-color: var(--secondary-bgr-color);
  color: var(--secondary-white-text-color);
}

.we-doing-img {
  /* display: block;
  position: relative; */
}

/* Оформление секции НАША КОМАНДА */
.our-team {
  background-color: #f5f4fa;
}
.our-team-img {
  display: block;
  margin-bottom: 30px;
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team-profession {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}
.our-team-list {
  display: flex;
}

.our-team-item {
  width: 270px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-social-list {
  display: flex;
  margin-left: 32px;
}

.our-team-social-item {
  padding-bottom: 24px;
}
.our-team-social-item:not(:last-child) {
  margin-right: 10px;
}

.our-team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: var(--transition-bgr-color);
}

.our-team-social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.our-team-social-link:hover,
.our-team-social-link:focus {
  background-color: var(--accent-color);
}

.our-team-social-link:hover .our-team-social-icon,
.our-team-social-link:focus .our-team-social-icon {
  fill: #ffffff;
}

/* Оформление секции ПОСТОЯННЫЕ КЛИЕНТЫ */
.client-list {
  display: flex;
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  margin: auto;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-link:hover,
.client-list-link:focus,
.client-list-link:hover .client-icon,
.client-list-link:focus .client-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Оформление ПОДВАЛА страницы */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bgr-color);
}
.footer .container {
  display: flex;
}
.footer-logo {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-white-text-color);
}
.footer-address-map {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-white-text-color);
  transition: var(--transition-color);
}
.footer-address-list:not(:last-child) {
  margin-bottom: 9px;
}
.footer-logo-addres {
  margin-right: 69px;
}
.footer-address-mail,
.footer-address-tel {
  font-weight: 400;
  line-height: 1.71;
  color: var(--footer-address-text-color);
  transition: var(--transition-color);
}
.join {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-white-text-color);
  margin-bottom: 20px;
}

.footer-join {
  margin-top: 12px;
}

.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus,
.footer-address-map:hover,
.footer-address-map:focus {
  color: var(--accent-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-bgr-color);
}

.footer-social-icon {
  fill: var(--primary-bgr-color);
  width: 20px;
  height: 20px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  display: flex;
}
.subscribe {
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: var(--secondary-white-text-color);
  margin-top: 48px;
  margin-left: 478px;
}

.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 11px;
  fill: var(--secondary-white-text-color);
}

/* Оформление страницы ПОРТФОЛИО */
/* Оформление фильтер-кнопок */
.section-filter-button {
  padding-top: 93px;
  padding-bottom: 34px;
}
.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--primary-bgr-filter-btn-color);
  color: var(--primary-title-color);
  transition: var(--transition-bgr-color);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-white-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.filter-button-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button-item:not(:last-child) {
  margin-right: 8px;
}

/* Оформление примеров-работ */
.section-work-examples {
  padding-bottom: 94px;
}
.work-examples-list {
  display: flex;
  flex-wrap: wrap;
}
.work-examples-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
}

.work-examples-item:nth-child(3n) {
  margin-right: 0px;
}
.work-examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.work-examples-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-title-color);
  letter-spacing: 0.06em;
}

.work-examples-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.work-examples-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--secondary-white-text-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-list h2 {
  margin-bottom: 4px;
}

.work-examples-title-subtitle {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-examples-overlay {
  position: relative;
  overflow: hidden;
}

.work-examples-link:hover .work-examples-description,
.work-examples-link:focus .work-examples-description {
  transform: translateY(0%);
}

.work-examples-link:hover,
.work-examples-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
